	<div id="main-container" class="container container-navbar-offset">
		<br>
		<div class="row hidden-xs">
			<div class="carousel-wrapper">
				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
					<!-- Indicators -->
					<ol class="carousel-indicators">
						<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
						<li data-target="#carousel-example-generic" data-slide-to="1"></li>
						<li data-target="#carousel-example-generic" data-slide-to="2"></li>
					</ol>

					<!-- Wrapper for slides -->
					<div class="carousel-inner" role="listbox">
						<div class="item active">
							<img src="app/img/img01.jpg" alt="Pic 01">
							<div class="carousel-caption">Pic 01</div>
						</div>
						<div class="item">
							<img src="app/img/img02.jpg" alt="...">
							<div class="carousel-caption">Pic 02</div>
						</div>
						<div class="item">
							<img src="app/img/img03.jpg" alt="...">
							<div class="carousel-caption">Pic 03</div>
						</div>
					</div>

					<!-- Controls -->
					<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev"> <span
						class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="sr-only">Previous</span>
					</a> <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next"> <span
						class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span class="sr-only">Next</span>
					</a>
				</div>
			</div>
		</div>
		
		<br>

		<div class="row row-offset">
			<p align="center">
				<strong>- Products -</strong>
			</p>
		</div>

		<div class="row row-offset">
			<div class="col-xs-4 col-sm-4 colored-div">
				<ul class="list-unstyled product-list">
					<li><a routerLink="/product/0">Computer Cases</a></li>
					<li><a routerLink="/product/1">CPUs / Processors</a></li>
					<li><a routerLink="/product/2">Fans, Heatsinks, Cooling</a></li>
					<li><a routerLink="/product/3">GPUs/Video Graphic Cards</a></li>
				</ul>
			</div>

			<div class="col-xs-4 col-sm-4 colored-div">
				<ul class="list-unstyled product-list">
					<li><a routerLink="/product/4">Motherboards</a></li>
					<li><a routerLink="/product/5">Hard Drives, Storage</a></li>
					<li><a routerLink="/product/6">Hard Drive Enclosures</a></li>
					<li><a routerLink="/product/7">Interface / Add-On Cards</a></li>
				</ul>
			</div>

			<div class="col-xs-4 col-sm-4 colored-div">
				<ul class="list-unstyled product-list">
					<li><a routerLink="/product/8">Optical Drives</a></li>
					<li><a routerLink="/product/9">Memory (RAM)</a></li>
					<li><a routerLink="/product/10">Power Supplies</a></li>
					<li><a routerLink="/product/11">Racks/Accessories</a></li>
				</ul>
			</div>
		</div>
	</div>