<div id="sidenav" data-spy="affix" data-offset-top="0">
	<h1>Products</h1>
	<ul id="left-product-list" class="list-unstyled">
		<li *ngFor="let type of productTypes">
			<a [routerLink]="['/product', type.id]">{{ type.name }}</a>
		</li>
	</ul>
</div>